.card {
  width: 100%;
  height: 90%;
  padding: 10px;
  // overflow: hidden !important;
  display: flex;
  // align-items: center;
  // justify-content: center;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: right;

  .content {
    width: 50%;
    // float: right;
    // align-items: flex-start;
    font-family: "Open Sans";
    justify-content: flex-end;
    // text-align: right;
    padding: 10px;
    // opacity: 0;
    // transition: all 500ms ease-in-out;
    // transform: translate(0, 20px);
    h1 {
      font-size: 18px;
      // color: rgb(0, 0, 0);
    }
    p {
      // align-self: flex-end;
      font-size: 14px;
      // color: rgb(0, 0, 0);
      margin-bottom: 20px;
    }

    .content-text {
      width: 100%;
      color: inherit;
    }

    .pictures {
      display: flex;
      justify-content: space-between;
    }

    .btn {
      background-color: black;
      color: white;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      font-size: 1rem;
      padding: 0.6rem;
      width: 5rem;
      height: 1.25rem;
      text-align: center;
      margin: 10px;
      text-decoration: none;
      cursor: pointer;
      font-weight: 550;
    }
    // &:hover {
    //   opacity: 1;
    //   // transform: translate(0, 0px);
    //   background-color: white;
    //   width: 80%;
    // }
  }

}